name: Check code

# Run this workflow every time a new commit pushed to your repository
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  push:
    branches:
      - main

jobs:
  validate:
    uses: Sincpro-SRL/.github/.github/workflows/02-check_code.yaml@main
    secrets: inherit
    with:
      environments: '["22"]'
